<section id="inner_pg_bnr">
  <div class="bg"><%= image_tag("inner_pgbg.png", alt: "", class: "w-100") %></div>
  <div class="inner_pg_bnr_div">
    <div class="container">
      <div class="row">
        <div class="col-6 text-left align-self-center">
          <h2 class="mheading">Technologies</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Technologies</a></li>
              <li class="breadcrumb-item text_sitec" aria-current="page">Blockchain</li>
            </ol>
          </nav>
        </div>
        <div class="col-6 align-self-center text-right"> <%= image_tag("Blockchain_Technologies_bgimg.png", alt: "") %></div>
      </div>
    </div>
  </div>
</section>
<section id="Blockchain_sec">
  <h2 class="mheading text-center">Blockchain Technology</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 order-12 order-md-1 align-self-center">
        <h4>Open source blockchain solutions and resources for enterprise app developers</h4>
        <%= image_tag("Blockchain_Technologies_secimg.png", alt: "Blockchain_img") %>
        <p>As blockchain technology rapidly evolves and matures, developers need to master the fundamentals and spin up a network based on the latest open source Hyperledger Fabric framework or build it manually. Discover how to architect and develop private permissioned blockchain networks for the enterprise to handle business-to-business transactions while maintaining privacy and confidentiality. Here are some resources on blockchain collaboration, security, data privacy, and more to accelerate to help you build your skills and start creating apps:.</p>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-12 align-self-center"> <%= image_tag("Blockchain_Technologies_secimg.png", alt: "") %></div>
    </div>
  </div>
</section>
<section id="Program_Overview_sec"> 
  <!--<div class="element_img_part hang"><img src="images/" alt=""></div>
-->
  <h2 class="mheading text-center">Program Overview</h2>
  <div class="container">
    <h4>As a leading mobile app development company, we offer extraordinary client delight while transforming ideas into efficient mobile apps. Our services include:</h4>
    <ul class="program_ul">
      <li><span class="tecno_ico tecno_ico1"></span>
        <p>4 Projects & Case Studies</p>
      </li>
      <li><span class="tecno_ico tecno_ico2"></span>
        <p>Content access for 3 years</p>
      </li>
      <li><span class="tecno_ico tecno_ico3"></span>
        <p>Personalised resume building sessions</p>
      </li>
      <li><span class="tecno_ico tecno_ico4"></span>
        <p>1-on-1 Industry Mentor</p>
      </li>
      <li><span class="tecno_ico tecno_ico5"></span>
        <p>IIIT-B Alumni Status</p>
      </li>
      <li><span class="tecno_ico tecno_ico6"></span>
        <p>4-tier Timely doubt resolution</p>
      </li>
      <li><span class="tecno_ico tecno_ico7"></span>
        <p>200+ hours of content</p>
      </li>
      <li><span class="tecno_ico tecno_ico8"></span>
        <p>4 Annual offline workshops</p>
      </li>
      <li><span class="tecno_ico tecno_ico9"></span>
        <p>Dedicated Student Success Manager</p>
      </li>
      <li><span class="tecno_ico tecno_ico10"></span>
        <p>0% EMI Option</p>
      </li>
    </ul>
  </div>
</section>
<section id="Blockchain_Tech_service_insec2" class="service_insec3">
  <div class=" container">
    <h2 class="mheading d-block d-md-none text-center">How Does Blockchain Work?</h2>
    <div class="row">
      <div class="col-md-6 col-12 order-12 order-md-1">
        <h2 class="mheading d-none d-md-block">How Does Blockchain Work?</h2>
        <p>Picture a spreadsheet that is duplicated thousands of times across a network of computers. Then imagine that this network is designed to regularly update this spreadsheet and you have a basic understanding of the blockchain.</p>
        <ul class="list-unstyled">
          <li><i class="fas fa-chevron-right text_sitec"></i>It is not owned by a single entity, hence it is decentralized The data is cryptographically stored inside </li>
          <li><i class="fas fa-chevron-right text_sitec"></i>The blockchain is immutable, so no one can tamper with the data that is inside the blockchain </li>
          <li><i class="fas fa-chevron-right text_sitec"></i>The blockchain is transparent so one can track the data if they want to</li>
        </ul>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-12 align-self-center"> <%= image_tag("Blockchain_Technologies.png", alt: "") %></div>
    </div>
  </div>
</section>
<section id="lokking_frsec" class="lokking_frsec2">
  <div class="lokking_frsec_inner bg_rgbsitec">
    <div class="element_img hang"><%= image_tag("element_5.png", alt: "") %></div>
    <div class="container">
      <h3>Looking For Best Quality<br>
        Services Provider</h3>
      <div class="text-center"> <a href="contact.html" class="btn text_sitec">CONTACT US</a> </div>
    </div>
  </div>
</section>
<script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();
  // document.getElementById('moar').onclick = function() {
  //   var section = document.createElement('section');
  //   section.className = 'section--purple wow fadeInDown';
  //   this.parentNode.insertBefore(section, this);
  // };

</script>