<section id="inner_pg_bnr">
  <div class="bg"><%= image_tag("inner_pgbg.png", alt: "", class: "w-100") %></div>
  <div class="inner_pg_bnr_div">
    <div class="container">
      <div class="row">
        <div class="col-6 text-left align-self-center">
          <h2 class="mheading">Blog</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item text_sitec" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
        <div class="col-6 align-self-center text-right"> <%= image_tag("blog_bnrimg.png", alt: "") %></div>
      </div>
    </div>
  </div>
</section>
<section id="blog_pg">
  <div class="element_img hang"><%= image_tag("element_partner.png", alt: "") %></div>
  <div class="element_img2 hang"><%= image_tag("element_13.png", alt: "") %></div>
  <div class=" container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="blog_sibar">
          <form>
            <input type="search" class="form-control" placeholder="Search...">
          </form>
          <div class="blog_side1">
            <h4 class="text_sitec">Category</h4>
            <ul class="list-unstyled">
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Ad Networks</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Blockchain</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Digital Marketing</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">E-commerce</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Emerging Technologies</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Fantasy Sports App Development</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Guest Contributor</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Helpful Blogs</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Infographics</a></li>
              <li> <i class="fas fa-angle-double-right text_sitec"></i><a href="javascript:void(0);">Mobile App Development</a></li>
            </ul>
          </div>
          <div class="blog_side1 blog_side2">
            <h4 class="text_sitec">Category</h4>
            <ul class="list-unstyled">
              <li>
                <ul class="list-inline p-0">
                  <li class="list-inline-item"> <%= image_tag("populer_blog1.png", alt: "") %></li>
                  <li class="list-inline-item">
                    <hgroup>
                      <p>What are the top benefits of Hybrid App Development?</p>
                      <h6>April 18, 2019</h6>
                    </hgroup>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="list-inline p-0">
                  <li class="list-inline-item"> <%= image_tag("populer_blog2.png", alt: "") %></li>
                  <li class="list-inline-item">
                    <hgroup>
                      <p>What are the top benefits of Hybrid App Development?</p>
                      <h6>April 18, 2019</h6>
                    </hgroup>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="list-inline p-0">
                  <li class="list-inline-item"> <%= image_tag("populer_blog3.png", alt: "") %></li>
                  <li class="list-inline-item">
                    <hgroup>
                      <p>What are the top benefits of Hybrid App Development?</p>
                      <h6>April 18, 2019</h6>
                    </hgroup>
                  </li>
                </ul>
              </li>
              <li>
                <ul class="list-inline p-0">
                  <li class="list-inline-item"> <%= image_tag("populer_blog1.png", alt: "") %></li>
                  <li class="list-inline-item">
                    <hgroup>
                      <p>What are the top benefits of Hybrid App Development?</p>
                      <h6>April 18, 2019</h6>
                    </hgroup>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="blog_side1 blog_side3 text-center"> <%= image_tag("place_banner.jpg", alt: "") %><img >
        </div>
      </div>
      <div class="col-md-8 col-12">
        <div class="blog_cnt">
          <div class="blog_single_cnt">
            <div><%= image_tag("blog_post1.jpg", alt: "blog_img") %></div>
            <h5>What are the top benefits of Hybrid App Development?</h5>
            <ul class="list-inline text-left">
              <li class="list-inline-item"><a href="mailto:Superadmin@super"> <i class="fas fa-user"></i><span class="text_sitec">Superadmin@super</span></a></li>
              <li class="list-inline-item"><i class="far fa-calendar"></i> 12 April 2019, 04:38PM</li>
            </ul>
            <p>We run youth and children programs geared at helping them unleash their potential. We got to know about HB via Internet.​​They were professional and gave timely feedback. <a href="javascript:void(0);" class="text_sitec">Read More</a></p>
          </div>
          <div class="blog_single_cnt">
            <div><%= image_tag("blog_post2.jpg", alt: "blog_img") %></div>
            <h5>Fixed Elements And Overlas Incredibly Easy And...</h5>
            <ul class="list-inline text-left">
              <li class="list-inline-item"><a href="mailto:Superadmin@super"> <i class="fas fa-user"></i><span class="text_sitec">Superadmin@super</span></a></li>
              <li class="list-inline-item"><i class="far fa-calendar"></i> 12 April 2019, 04:38PM</li>
            </ul>
            <p>We run youth and children programs geared at helping them unleash their potential. We got to know about HB via Internet.​​They were professional and gave timely feedback. <a href="javascript:void(0);" class="text_sitec">Read More</a></p>
          </div>
          <div class="blog_single_cnt">
            <div><%= image_tag("blog_post3.jpg", alt: "blog_img") %></div>
            <h5>Designing The Invisible: 3 Things I Learned Designing...</h5>
            <ul class="list-inline text-left">
              <li class="list-inline-item"><a href="mailto:Superadmin@super"> <i class="fas fa-user"></i><span class="text_sitec">Superadmin@super</span></a></li>
              <li class="list-inline-item"><i class="far fa-calendar"></i> 12 April 2019, 04:38PM</li>
            </ul>
            <p>We run youth and children programs geared at helping them unleash their potential. We got to know about HB via Internet.​​They were professional and gave timely feedback. <a href="javascript:void(0);" class="text_sitec">Read More</a></p>
          </div>
          <div class="blog_single_cnt">
            <div><%= image_tag("blog_post4.jpg", alt: "blog_img") %></div>
            <h5>What are the top benefits of Hybrid App Development?</h5>
            <ul class="list-inline text-left">
              <li class="list-inline-item"><a href="mailto:Superadmin@super"> <i class="fas fa-user"></i><span class="text_sitec">Superadmin@super</span></a></li>
              <li class="list-inline-item"><i class="far fa-calendar"></i> 12 April 2019, 04:38PM</li>
            </ul>
            <p>We run youth and children programs geared at helping them unleash their potential. We got to know about HB via Internet.​​They were professional and gave timely feedback. <a href="javascript:void(0);" class="text_sitec">Read More</a></p>
          </div>
        </div>
        <div class="text-center">
          <nav aria-label="..." >
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"> <span class="page-link"><i class="fas fa-chevron-left"></i></span> </li>
              <li class="page-item"><a class="page-link bg_sitec" href="#">1</a></li>
              <li class="page-item" aria-current="page"> <a class="page-link" href="#">2</a> </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"> <a class="page-link" href="#"><i class="fas fa-chevron-right text_sitec"></i></a> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();
  // document.getElementById('moar').onclick = function() {
  //   var section = document.createElement('section');
  //   section.className = 'section--purple wow fadeInDown';
  //   this.parentNode.insertBefore(section, this);
  // };
</script>
