<section id="inner_pg_bnr">
  <div class="bg"><%= image_tag("inner_pgbg.png", alt: "", class: "w-100") %></div>
  <div class="inner_pg_bnr_div">
    <div class="container">
      <div class="row">
        <div class="col-6 text-left align-self-center">
          <h2 class="mheading">Careers</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item text_sitec" aria-current="page">Careers</li>
            </ol>
          </nav>
        </div>
        <div class="col-6 align-self-center text-right"> <%= image_tag("carier_bnrimg.png", alt: "") %> </div>
      </div>
    </div>
  </div>
</section>
<section id="get_domain_sec">
  <div class="container">
    <h2 class="mheading text-center"><%= @carrer.title %></h2>
    <div class="row">
      <div class="col-md-6 col-12 order-12 order-md-1 align-self-center">
        <ul class="list-unstyled">
          <li>
            <h5><%= @carrer.body%></h5>
          </li>
          <li>
            <h6>Diversity</h6>
            <p>Our commitment to diversity is demonstrated through strategic initiatives aimed at providing training and awareness to employees, hiring people <a href="javascript:void(0);" class="text_sitec">Read More</a></p>
          </li>
          <li>
            <h6>Culture</h6>
            <p>The unique culture at Thobson has evolved naturally from our people and from the everyday practice of our core values. The talents and leadership abilities of our people are our greatest resource. Therefore, we strive to <a href="javascript:void(0);" class="text_sitec">Read More</a></p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-12 align-self-center"> <%= image_tag("carier_img2.png", alt: "") %> </div>
    </div>
  </div>
</section>
<section id="job_opening_sec">
  <div class="element_img hang"><%= image_tag("element_ico1.png", alt: "") %></div>
  <h2 class="mheading text-center">Current Openings</h2>
  <div class="portfolio_gel">
    <ul id="filters" class="clearfix d-sm-flex justify-content-between carier_mdiv">
      <li><span class="filter active" data-filter=".development, .iot, .bigdata, .stesting, .webdesign"><strong class="sp_dot"></strong>All</span></li>
      <li><span class="filter" data-filter=".development"><strong class="sp_dot"></strong>Development</span></li>
      <li><span class="filter" data-filter=".iot"><strong class="sp_dot"></strong>iot</span></li>
      <li><span class="filter" data-filter=".bigdata"><strong class="sp_dot"></strong>Big Data</span></li>
      <li><span class="filter" data-filter=".stesting"><strong class="sp_dot"></strong>Software Testing</span></li>
      <li><span class="filter" data-filter=".webdesign"><strong class="sp_dot"></strong>Web Design</span></li>
    </ul>
    <div id="portfoliolist2">
      <div class="portfolio development" data-cat="development">
        <div class="current_opening_innerdiv current_opening_innerdiv1">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn"  >APPLY NOW</a> 
                      <!-- The Modal --> 
                      
                      <a href="javascript:void(0);" class="hide_contenta "><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio bigdata" data-cat="bigdata">
        <div class="current_opening_innerdiv current_opening_innerdiv2">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn"  >APPLY NOW</a> 
                      <!-- The Modal --> 
                      
                      <a href="javascript:void(0);" class="hide_contenta"><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio iot" data-cat="iot">
        <div class="current_opening_innerdiv current_opening_innerdiv3">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn">APPLY NOW</a> <a href="javascript:void(0);" class="hide_contenta"><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio webdesign" data-cat="webdesign">
        <div class="current_opening_innerdiv current_opening_innerdiv4">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn">APPLY NOW</a> <a href="javascript:void(0);" class="hide_contenta"><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio iot" data-cat="iot">
        <div class="current_opening_innerdiv current_opening_innerdiv5">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn">APPLY NOW</a> <a href="javascript:void(0);" class="hide_content"><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio stesting" data-cat="stesting">
        <div class="current_opening_innerdiv current_opening_innerdiv6">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn"  >APPLY NOW</a> 
                      <!-- The Modal --> 
                      
                      <a href="javascript:void(0);" class="hide_contenta"><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio app" data-cat="development">
        <div class="current_opening_innerdiv current_opening_innerdiv7">
          <div class="job_detail">
            <div class="short_detail">
              <div class="container">
                <div class="short_content"> <a href="javascript:void(0);" class="content_a text_sitec"><i class="fas fa-plus text_sitec"></i> View Details</a>
                  <h6>Senior Sales Executive It</h6>
                  <ul class="list-unstyled">
                    <li> <span>Department</span><strong>:</strong> <span>Sales</span> </li>
                    <li> <span>Type</span><strong>:</strong> <span>Full Time</span> </li>
                    <li> <span>Min. Experience</span><strong>:</strong> <span>Entry Level</span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="full_detail">
              <div class="container">
                <div class="full_etailcontent">
                  <h4>Senior Sales Executive It</h4>
                  <ul class="list-inline department_ul">
                    <li class="list-inline-item">Department</li>
                    <li class="list-inline-item">:</li>
                    <li class="list-inline-item">Sales</li>
                  </ul>
                  <div class="content_describe">
                    <h6>Overview</h6>
                    <p>Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. <br>
                      The position entails a handsome compensation package with a generous incentive component for confident results oriented professionals. <br>
                      This is not a telesales job so call center sales agents need not apply. <br>
                      Developing new business opportunities is a critical element of the role, and you should have the drive for new client meetings, winning new accounts and relationship management. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Package</h6>
                    <p> Get Domain Now is seeking full time Senior Sales Executives for Corporate Sales with excellent communication and business closing skills along with solid understanding and concept of software and web technologies and be able to meet sales targets. </p>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Product Knowledge Required For</h6>
                    <ul class="list-unstyled">
                      <li>Domains</li>
                      <li>Hosting Services</li>
                      <li>Cloud Services including Office 365 and G-Suite Sales</li>
                      <li>Websites Development</li>
                      <li>App Development</li>
                      <li>Mail Server</li>
                      <li>DNS</li>
                      <li>Software Licensing</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Regular Activities Includes</h6>
                    <ul class="list-unstyled">
                      <li>Locates or proposes potential business deals by contacting potential partners; discovering and exploring opportunities.</li>
                      <li>Analyzing needs, customize and propose best solutions to address redundancy and disaster recovery using the strong portfolio of services and products and infrastructure services that the company offers.</li>
                      <li>Identifying new customers, sending proposals, pitching and closing sales</li>
                      <li>Enhances organization reputation by accepting ownership for accomplishing new and different requests; exploring opportunities to add value to job accomplishments.</li>
                      <li>Identify and pursue new business opportunities in targeted markets and establish strategic relations with key decision makers</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Successful Candidates Will Have</h6>
                    <ul class="list-unstyled">
                      <li>Excellent English written and oral communication skills</li>
                      <li>Ability to self-manage and deliver results</li>
                      <li>Should be innovative, flexible and a team player.</li>
                      <li>High degree of confidence</li>
                      <li>Solid understanding of software and technology</li>
                      <li>Strong follow-up and closing skills</li>
                      <li>Highly resourceful and results oriented attitude.</li>
                      <li>Ability to function in professional business environment with senior management.</li>
                      <li>Protects organization's value by keeping information confidential</li>
                    </ul>
                  </div>
                  <div class="content_describe">
                    <h6>Job Description</h6>
                    <ul class="list-unstyled">
                      <li>The job scope covers: sales lead generation, up-selling, client service, new business development, development of industry/customer insights, supervision of projects, and financial management of projects.</li>
                      <li>Reporting to Manager Operations (in Karachi) and Directory (in USA).</li>
                      <li>Prepare and give customer presentations.</li>
                      <li>Prepare proposals.</li>
                      <li>Visit existing and potential clients.</li>
                      <li>Actively seeking out new sales opportunities through cold calling, networking and social media</li>
                      <li>Setting up meetings with potential clients and listen to their wishes and concerns</li>
                      <li>Prepare and deliver appropriate presentations on products.</li>
                      <li>Participate on behalf of the company in exhibitions or conferences</li>
                      <li>Negotiate/close deals and handle complaints or support cases</li>
                    </ul>
                  </div>
                  <div class="less_a">
                    <div class="d-flex justify-content-between"> <a href="javascript:void(0);" class="btn a_btn">APPLY NOW</a> <a href="javascript:void(0);" class="hide_contenta"><i class="fas fa-minus"></i> Hide details</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="powered_by">
  <div class="container">
    <ul class="list-inline text-left d-flex">
      <li class="list-inline-item align-self-center">Powered By</li>
      <li class="list-inline-item align-self-center"><a class="logo custom_ico3" href="javascript:void(0);"> </a></li>
    </ul>
  </div>
</div>
<script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();
  // document.getElementById('moar').onclick = function() {
  //   var section = document.createElement('section');
  //   section.className = 'section--purple wow fadeInDown';
  //   this.parentNode.insertBefore(section, this);
  // };
</script>