<section id="slide_sec">
  <div class="bg">
    <%= image_tag("slider_back.png", alt: "", class: "w-100") %>
  </div>
  <div class="slider_cnt">
    <div class="owl-carousel owl-theme owl-loaded slide_owl">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          <div class="owl-item">
            <div class="container">
              <div class="row ">
                <div class="col-6 align-self-center">
                  <h3>Think Big. We make IT, <span class="text_sitec">Possible!</span></h3>
                  <p>Being a top-notch Custom software development company, our services are designed to take your business to the next level, reducing the gap between you and the heights of success you wish to achieve.</p>
                  <div class="text-left"><a href="javascript:void(0);" class="a_btn">WORK WITH US</a></div>
                </div>
                <div class="col-6 align-self-center"> 
                  <%= image_tag("slider_img.png", alt: "slider_img") %>
                  <!-- <img src="images/slider_img.png" alt="slider_img"> -->
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="container">
              <div class="row ">
                <div class="col-6 align-self-center">
                  <h3>Think Big. We make IT, <span>Possible!</span></h3>
                  <p>Being a top-notch Custom software development company, our services are designed to take your business to the next level, reducing the gap between you and the heights of success you wish to achieve.</p>
                  <div class="text-left"><a href="javascript:void(0);" class="a_btn">WORK WITH US</a></div>
                </div>
                <div class="col-6 align-self-center"> <%= image_tag("slider_img.png", alt: "slider_img") %></div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="container">
              <div class="row ">
                <div class="col-6 align-self-center">
                  <h3>Think Big. We make IT, <span>Possible!</span></h3>
                  <p>Being a top-notch Custom software development company, our services are designed to take your business to the next level, reducing the gap between you and the heights of success you wish to achieve.</p>
                  <div class="text-left"><a href="javascript:void(0);" class="a_btn">WORK WITH US</a></div>
                </div>
                <div class="col-6 align-self-center"> <%= image_tag("slider_img.png", alt: "slider_img") %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="service_sec">
  <div class="element_img hang"><%= image_tag("element_ico1.png", alt: "") %></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 align-self-center">
        <h2 class="mheading">How We Can<br>
          Help You?</h2>
        <div class="text-left d-none d-lg-block"> <a href="service.html" class="a_btn">VIEW ALL SERVICES</a> </div>
      </div>
      <div class="col-lg-9 col-12">
        <div class="row">
          <div class="col-sm-4 col-6">
            <div class="service_bx service_bx1"> <a href="service_detail.html">
              <div class="moon"></div>
              <div class="text-center">
                <div class="service_ico service_ico1"></div>
              </div>
              <h6>UI/UX DESIGN</h6>
              </a> </div>
          </div>
          <div class="col-sm-4 col-6 wow fadeInRight">
            <div class="service_bx service_bx2"> <a href="service_detail.html">
              <div class="moon"></div>
              <div class="text-center">
                <div class="service_ico service_ico2"></div>
              </div>
              <h6>Web Development</h6>
              </a> </div>
          </div>
          <div class="col-sm-4 col-6 wow fadeInRight">
            <div class="service_bx service_bx3"> <a href="service_detail.html">
              <div class="moon"></div>
              <div class="text-center">
                <div class="service_ico service_ico3"></div>
              </div>
              <h6>MOBILE</h6>
              </a> </div>
          </div>
          <div class="col-sm-4 col-6 wow fadeInRight">
            <div class="service_bx service_bx4"> <a href="service_detail.html">
              <div class="moon"></div>
              <div class="text-center">
                <div class="service_ico service_ico4"></div>
              </div>
              <h6>DIGITAL MARKETING</h6>
              </a> </div>
          </div>
          <div class="col-sm-4 col-6 wow fadeInRight">
            <div class="service_bx service_bx5"> <a href="service_detail.html">
              <div class="moon"></div>
              <div class="text-center">
                <div class="service_ico service_ico5"></div>
              </div>
              <h6>hire developer</h6>
              </a> </div>
          </div>
          <div class="col-sm-4 col-6 wow fadeInRight">
            <div class="service_bx service_bx6"> <a href="service_detail.html">
              <div class="moon"></div>
              <div class="text-center">
                <div class="service_ico service_ico6"></div>
              </div>
              <h6>Consulting TEAM</h6>
              </a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center d-block d-lg-none"> <a href="service_detail.html" class="a_btn">VIEW ALL SERVICES</a> </div>
  </div>
</section>
<section id="experience_sec">
  <h2 class="mheading">Immersive Experience on Desktop, Tablet and Mobile</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="bg d-none d-lg-block">
          <div id="counter">
            <div class="row">
              <div class="col-lg-6 col-sm-3 wow fadeInLeft">
                <div class="counter_bx counter_bx1">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <div class="counter-value" data-count="1050"></div>
                    </li>
                    <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                  </ul>
                  <h5>Web Apps 
                    Delivered</h5>
                  <div class="border"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-3 wow fadeInLeft">
                <div class="counter_bx counter_bx2">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <div class="counter-value" data-count="700"></div>
                    </li>
                    <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                  </ul>
                  <h5>Web Apps 
                    Delivered</h5>
                  <div class="border"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-3 wow fadeInLeft">
                <div class="counter_bx counter_bx3">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <div class="counter-value" data-count="100"></div>
                    </li>
                    <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                  </ul>
                  <h5>Web Apps 
                    Delivered</h5>
                  <div class="border"></div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-3 wow fadeInLeft">
                <div class="counter_bx counter_bx4">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <div class="counter-value" data-count="20"></div>
                    </li>
                    <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                  </ul>
                  <h5>Web Apps 
                    Delivered</h5>
                  <div class="border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="counter" class="d-block d-lg-none">
          <div class="row">
            <div class="col-lg-6 col-md-3 col-sm-6 col-6 wow fadeInLeft">
              <div class="counter_bx counter_bx1">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <div class="counter-value" data-count="1050"></div>
                  </li>
                  <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                </ul>
                <h5>Web Apps 
                  Delivered</h5>
                <div class="border"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-6 col-6 wow fadeInLeft">
              <div class="counter_bx counter_bx2">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <div class="counter-value" data-count="700"></div>
                  </li>
                  <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                </ul>
                <h5>Web Apps 
                  Delivered</h5>
                <div class="border"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-6 col-6 wow fadeInLeft">
              <div class="counter_bx counter_bx3">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <div class="counter-value" data-count="100"></div>
                  </li>
                  <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                </ul>
                <h5>Web Apps 
                  Delivered</h5>
                <div class="border"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-6 col-6 wow fadeInLeft">
              <div class="counter_bx counter_bx4">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <div class="counter-value" data-count="20"></div>
                  </li>
                  <li class="list-inline-item"><i class="fas fa-plus"></i></li>
                </ul>
                <h5>Web Apps 
                  Delivered</h5>
                <div class="border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-none d-lg-block"> <%= image_tag("experience_img.png", alt: "experience_img") %></div>
    </div>
  </div>
</section>
<section id="idea_sec">
  <div class="idea_sec_inner bg_rgbsitec">
    <div class="element_img hang"><%= image_tag("element_ico2.png", alt: "") %></div>
    <h2 class="mheading">Shriffle Your Ideas Into Products </h2>
    <div class="container">
      <div class="row">
        <div class="col-lg col-sm align-self-center">
          <ul class="list-unstyled idea_sec_ul1">
            <li>
              <h4>Technology Consulting</h4>
              <p>Our technical experts perform a thorough evaluation of your project needs and available technology stacks to help you pick the most appropriate option. </p>
            </li>
            <li>
              <h4>Software Prototyping</h4>
              <p>A proof-of-concept helps evaluate the feasibility of your concept for real-world implementation and assess the potential of your idea resources consumed. </p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 d-none d-lg-block align-self-center"> <%= image_tag("idea_img.png", alt: "") %></div>
        <div class="col-sm-2 d-none d-md-block d-lg-none"></div>
        <div class="col-lg col-sm  align-self-center">
          <ul class="list-unstyled idea_sec_ul2">
            <li>
              <h4>Discovery And Planning</h4>
              <p>We help define the project strategy and roadmap, clarify requirements and prepare the required documentation to ensure you are fixing the right  the right actions.</p>
            </li>
            <li>
              <h4>Agile Methodology</h4>
              <p>We help define the project strategy and roadmap, clarify requirements and prepare the required documentation to ensure you are fixing the right the right actions.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="supporting_sec">
  <h2 class="mheading">Supporting A Wide Array of Platforms & Industries</h2>
  <div class="container">
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="nav-item"> <a class="nav-link active" data-toggle="pill" href="#home">SERVICES WE OFFER</a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="pill" href="#menu1">LEADING INDUSTRIES</a> </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active">
        <div class="row">
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico1"></div>
              <h6>Travel and Booking</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico2"></div>
              <h6>Education</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico3"></div>
              <h6>Healthcare</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico4"></div>
              <h6>Banking and Finance</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico5"></div>
              <h6>Real Estate</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico6"></div>
              <h6>mCommerce</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico7"></div>
              <h6>Social Network</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico8"></div>
              <h6>Sports and Recreation</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico9"></div>
              <h6>Manufacturing</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico10"></div>
              <h6>Media and Entertainment</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico11"></div>
              <h6>Transportation & Logistics</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico12"></div>
              <h6>Digital Advertising</h6>
              </a> </div>
          </div>
        </div>
      </div>
      <div id="menu1" class="container tab-pane fade">
        <div class="row">
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico1"></div>
              <h6>Travel and Booking</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico2"></div>
              <h6>Education</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico3"></div>
              <h6>Healthcare</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico4"></div>
              <h6>Banking and Finance</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico5"></div>
              <h6>Real Estate</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico6"></div>
              <h6>mCommerce</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico7"></div>
              <h6>Social Network</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico8"></div>
              <h6>Sports and Recreation</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico9"></div>
              <h6>Manufacturing</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico10"></div>
              <h6>Media and Entertainment</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico11"></div>
              <h6>Transportation & Logistics</h6>
              </a> </div>
          </div>
          <div class="col-lg-2 col-sm-3 col-4">
            <div class="supporting_bx"> <a href="javascript:void(0);">
              <div class="industries_ico industries_ico12"></div>
              <h6>Digital Advertising</h6>
              </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="client_logosec">
  <div class="container">
    <div class="client_logosec_inner">
      <h3 class="mheading2">Project Management Tools</h3>
      <ul class="list-inline">
        <li class="list-inline-item wow fadeInLeft">
          <div class="client_pro_logo client_pro_logo1"></div>
        </li>
        <li class="list-inline-item wow fadeInLeft">
          <div class="client_pro_logo client_pro_logo2"></div>
        </li>
        <li class="list-inline-item wow fadeInLeft">
          <div class="client_pro_logo client_pro_logo3"></div>
        </li>
        <li class="list-inline-item wow fadeInLeft">
          <div class="client_pro_logo client_pro_logo4"></div>
        </li>
        <li class="list-inline-item wow fadeInLeft">
          <div class="client_pro_logo client_pro_logo5"></div>
        </li>
        <li class="list-inline-item wow fadeInLeft">
          <div class="client_pro_logo client_pro_logo6"></div>
        </li>
      </ul>
      <div class="text-center"> <a href="javascript:void(0);" class="a_btn mt-3">LET’S TALK</a> </div>
    </div>
  </div>
</section>
<section id="develop_sec">
  <div class="element_img hang"><%= image_tag("element_ico3.png", alt: "") %></div>
  <h2 class="mheading">We Just Don't Develop It, We <span class="text_sitec">Perfect</span> IT</h2>
  <div class="container"> <%= image_tag("develop_sec.png", alt: "") %></div>
</section>
<section id="app_screensec">
  <div class="app_screen_div d-none d-lg-block">
    <div class="row no-gutters">
      <div class="col-sm-5">
        <div class="owl-carousel owl-theme owl-loaded app_owl">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
              <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
              <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app_screen_content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-block d-lg-none order-12 order-lg-1">
          <div class="owl-carousel owl-theme owl-loaded app_owl2">
            <div class="owl-stage-outer">
              <div class="owl-stage">
                <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
                <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
                <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
                <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
                <div class="owl-item"><%= image_tag("app_screen.jpg", alt: "app") %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block"></div>
        <div class="col-sm-12 col-lg-6 align-self-center order-1 order-lg-12">
          <div class="contnr_bx">
            <h2 class="mheading">Darabeel</h2>
            <p>A proof-of-concept helps evaluate the feasibility of your concept for real-world implementation and assess the potential of your idea with minimum resources consumed. </p>
            <div class="text-left d-none d-lg-block"> <a href="portfolio.html" class="a_btn">VIEW PORTFOLIO</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center d-block d-lg-none"> <a href="portfolio.html" class="a_btn">VIEW PORTFOLIO</a> </div>
  </div>
</section>
<section id="testimonial_sec">
  <div class="testimonial_imgbx d-none d-lg-block">
    <div class="testimonial_imgbx_inner bg_rgbsitec"> <i class="fas fa-quote-left wow fadeInRight"></i>
      <h3 class="wow fadeInRight">GOLDEN</h3>
      <h4 class="wow fadeInRight">Words</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block"></div>
      <div class="col-lg-6 col-12  align-self-center">
        <h2 class="mheading">Customers Speak</h2>
        <div class="owl-carousel owl-theme owl-loaded testi_owl">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item">
                <p>We run youth and children programs geared at helping them unleash their potential. We got to know about Shriffle via Internet.​​They were professional and gave timely feedback. </p>
                <ul class="list-inline text-center text-lg-left mt-3 d-lg-flex">
                  <li class="list-inline-item align-self-center"><%= image_tag("testimonial_user.png", alt: "") %></li>
                  <li class="list-inline-item align-self-center">
                    <h5>Esther C</h5>
                    <h6>Kenya</h6>
                  </li>
                </ul>
              </div>
              <div class="owl-item">
                <p>We run youth and children programs geared at helping them unleash their potential. We got to know about Shriffle via Internet.​​They were professional and gave timely feedback. </p>
                <ul class="list-inline text-center text-lg-left mt-3 d-lg-flex">
                  <li class="list-inline-item align-self-center"><%= image_tag("testimonial_user.png", alt: "") %></li>
                  <li class="list-inline-item align-self-center">
                    <h5>Esther C</h5>
                    <h6>Kenya</h6>
                  </li>
                </ul>
              </div>
              <div class="owl-item">
                <p>We run youth and children programs geared at helping them unleash their potential. We got to know about Shriffle via Internet.​​They were professional and gave timely feedback. </p>
                <ul class="list-inline text-center text-lg-left mt-3 d-lg-flex">
                  <li class="list-inline-item align-self-center"><%= image_tag("testimonial_user.png", alt: "") %></li>
                  <li class="list-inline-item align-self-center">
                    <h5>Esther C</h5>
                    <h6>Kenya</h6>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
      wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
    // document.getElementById('moar').onclick = function() {
    //   var section = document.createElement('section');
    //   section.className = 'section--purple wow fadeInDown';
    //   this.parentNode.insertBefore(section, this);
    // };

  </script> 
<script>
var a = 0;
$(window).scroll(function() {

  var oTop = $('#counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter-value').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {

          duration: 2000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    a = 1;
  }

});
</script>