<section id="inner_pg_bnr">
  <div class="bg"><%= image_tag("inner_pgbg.png", alt: "", class: "w-100") %></div>
  <div class="inner_pg_bnr_div">
    <div class="container">
      <div class="row">
        <div class="col-6 text-left align-self-center">
          <h2 class="mheading">Portfolio</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item text_sitec" aria-current="page">Portfolio</li>
            </ol>
          </nav>
        </div>
        <div class="col-6 align-self-center text-right"> <%= image_tag("portfolio_bnrimg.png", alt: "") %></div>
      </div>
    </div>
  </div>
</section>
<section id="project_sec">
  <h2 class="mheading text-center">Our Projects</h2>
  <div class="container">
    <p>PRIMITIV MEDIA is top in the list of professional IT services, we provide creative design & development in the field of native mobile application development, hybrid application, CMS and framework like word press, magento, drupal, joomla, cake php, codeigniter and many other latest technology in IT market. Our developers are highly skilled and dedicated to provide best quality of IT solutions. First we understand your business need then frame websites and provide enterprise mobility solution and support.</p>
    <div class="portfolio_gel">
      <div class="element_img hang"><%= image_tag("element_12.png", alt: "") %>>
      <ul id="filters" class="clearfix">
        <li><span class="filter active" data-filter=".app, .web, .icon, .logo, .web"><strong class="sp_dot"></strong>All</span></li>
        <li><span class="filter" data-filter=".app"><strong class="sp_dot"></strong>App</span></li>
        <li><span class="filter" data-filter=".web"><strong class="sp_dot"></strong>Web</span></li>
      </ul>
      <div id="portfoliolist">
        <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("app/app_1.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>MyBus - Bus Ticket Booking App</h5>
                <h6>Travel</h6>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("web/web_1.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>USwipe</h5>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("app/app_2.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Food Delivery App </h5>
                <h6>Food and Drink</h6>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("web/web_2.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Fabletics </h5>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("web/web_3.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Service Calibrate </h5>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("app/app_3.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Mosque Prayer App </h5>
                <h6>Travel</h6>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("web/web_4.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Fabkids </h5>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("web/web_5.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>MyBus - Bus Ticket Booking App</h5>
                <h6>Travel</h6>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("app/app_4.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Ab Workout App </h5>
                <h6>Fitness</h6>
                <span class="text-category">Business card</span> </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("app/app_5.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Pigi</h5>
                <h6>Shopping</h6>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio web" data-cat="web"> <a href="javasccript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("web/web_6.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>USwipe</h5>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
          <div class="portfolio-wrapper"> <%= image_tag("app/app_6.jpg", alt: "") %>
            <div class="label">
              <div class="label-text">
                <h5>Food Delivery App </h5>
                <h6>Food and Drink</h6>
              </div>
              <div class="label-bg"></div>
            </div>
          </div>
          </a> </div>
        <div class="portfolio_loaddiv">
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_1.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>MyBus - Bus Ticket Booking App</h5>
                  <h6>Travel</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("web/web_1.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>USwipe</h5>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_2.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Food Delivery App </h5>
                  <h6>Food and Drink</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_1.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>MyBus - Bus Ticket Booking App</h5>
                  <h6>Travel</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("web/web_3.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Service Calibrate </h5>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_3.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Mosque Prayer App </h5>
                  <h6>Travel</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio web" data-cat="web"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("web/web_4.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Fabkids </h5>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_1.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>MyBus - Bus Ticket Booking App</h5>
                  <h6>Travel</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_4.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Ab Workout App </h5>
                  <h6>Fitness</h6>
                  <span class="text-category">Business card</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_5.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Pigi</h5>
                  <h6>Shopping</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio web" data-cat="web"> <a href="javasccript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("web/web_6.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>USwipe</h5>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
          <div class="portfolio app" data-cat="app"> <a href="javascript:void(0);">
            <div class="portfolio-wrapper"> <%= image_tag("app/app_6.jpg", alt: "") %>
              <div class="label">
                <div class="label-text">
                  <h5>Food Delivery App </h5>
                  <h6>Food and Drink</h6>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
            </a> </div>
        </div>
      </div>
      <div class="text-center"> <a href="javascript:void(0);" class="a_btn load_btn">Load More</a> </div>
    </div>
  </div>
</section>
<section id="client_saysec">
  <div class="element_img hang"><%= image_tag("element_13.png", alt: "") %>>
  <div class="container">
    <h2 class="mheading text-center">What’s Our Clients Say</h2>
    <h3 class="sub_mheading">CLIENTS FEEDBACK</h3>
    <div class="owl-carousel owl-theme owl-loaded client_saycrausal">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_1.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_2.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_3.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_1.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_2.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_3.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_1.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_2.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="owl-item">
            <div class="client_saybox">
              <p>But must explain to how allte mista idea of denouncing pleasures and praising pain was born andI will give you  complete account of the system.</p>
              <ul class="list-inline d-flex">
                <li class="list-inline-item align-self-center"><%= image_tag("client_3.png", alt: "") %></li>
                <li class="list-inline-item align-self-center">
                  <h5>Joseph M. Erwin</h5>
                  <h6>CEO & Founder</h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <!--<section id="client_logosec">
<div class="container">
<div class="client_logosec_inner client_logosec_inner2">
<h3 class="mheading2">Project Management Tools</h3>
<ul class="list-inline">



<div class="text-center">
<a href="javascript:void(0);" class="a_btn mt-3">LET’S TALK</a>
</div>
</div>
</div>
</section> --> -->

<script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();
  // document.getElementById('moar').onclick = function() {
  //   var section = document.createElement('section');
  //   section.className = 'section--purple wow fadeInDown';
  //   this.parentNode.insertBefore(section, this);
  // };
</script>