<section id="inner_pg_bnr">
  <div class="bg"><%= image_tag("inner_pgbg.png", alt: "", class: "w-100") %></div>
  <div class="inner_pg_bnr_div">
    <div class="container">
      <div class="row">
        <div class="col-6 text-left align-self-center">
          <h2 class="mheading">Services</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Services</a></li>
              <li class="breadcrumb-item text_sitec" aria-current="page">Mobile Development</li>
            </ol>
          </nav>
        </div>
        <div class="col-6 align-self-center text-right"> <%= image_tag("service_in_bnr.png", alt: "") %> </div>
      </div>
    </div>
  </div>
</section>
<section id="partner_sec" class="partner_sec2">
  <div class="element_img hang"><%= image_tag("element_13.png", alt: "") %></div>
  <div class="element_img2 hang"><%= image_tag("element_9.png", alt: "") %></div>
  <h2 class="mheading text-center">Immersive Next-Generation Mobile App Development</h2>
  <div class="container">
    <h4 class="d-block text-center d-md-none">CUSTOM MOBILE APP DEVELOPMENT COMPANY</h4>
    <div class="row">
      <div class="col-md-6 col-12 align-self-center order-12 order-md-1">
        <h4 class="d-none d-md-block">CUSTOM MOBILE APP DEVELOPMENT COMPANY</h4>
        
        <p>Prolific and feature-rich Mobile App Development services at CIS- allow you to define your boundaries much wider in your industrial domain while help in approaching your business problems with a rather futuristic approach. CIS is a globally awarded Mobile Application Development company that helps you getting native and hybrid mobile app development for leading platforms. </p>
        <p class="mb-0"> We have invested our years of knowledge in developing out-of-box and user-centric custom mobile app development solutions that help our clients in scaling their business as per their present and future needs. Thus, with our knowledge and experience we help you choose what is best for your business not only in the short-run but for your long-term business goals</p>
      </div>
      <div class="col-md-6 col-12 align-self-center order-1 order-md-12"> <%= image_tag("service_innerimg.png", alt: "") %> </div>
    </div>
  </div>
</section>
<section id="service_insec2" class="service_insec1">
  <div class=" container">
    <h2 class="mheading text-center d-block d-md-none">Development</h2>
    <div class="row">
      <div class="col-md-6 col-12 align-self-center"> <%= image_tag("service_devlopimg.png", alt: "") %> </div>
      <div class="col-md-6 col-12">
        <h2 class="mheading d-none d-md-block">Development</h2>
        <p>As a leading mobile app development company, we offer extraordinary client delight while transforming ideas into efficient mobile apps. Our services include:</p>
        <ul class="list-unstyled">
          <li>iOS App <i class="fas fa-check bg_sitec"></i></li>
          <li>Android App <i class="fas fa-check bg_sitec"></i></li>
          <li>React Native App <i class="fas fa-check bg_sitec"></i></li>
          <li>Ionic App <i class="fas fa-check bg_sitec"></i></li>
          <li>Xamarin App <i class="fas fa-check bg_sitec"></i></li>
          <li>AR/ VR App <i class="fas fa-check bg_sitec"></i></li>
          <li>Voice Enabled App <i class="fas fa-check bg_sitec"></i></li>
          <li>Wearables & TV App <i class="fas fa-check bg_sitec"></i></li>
        </ul>
        <div class="text-left"><a href="javascript:void(0);" class="a_outlinebtn">Get a Free Quote <i class="fas fa-arrow-right bg_sitec"></i></a></div>
      </div>
    </div>
  </div>
</section>
<section id="service_insec2" class="service_insec3">
  <div class=" container">
    <h2 class="mheading d-block d-md-none text-center">Hire Mobile App 
      Development Team</h2>
    <div class="row">
      <div class="col-md-6 col-12 order-12 order-md-1">
        <h2 class="mheading d-none d-md-block">Hire Mobile App 
          Development Team</h2>
        <p>Let’s innovate together. Whether you are a start-up, a business enterprise or Fortune 500 company, hire our expert Mobile App development team today, to digitalize your business.</p>
        <ul class="list-unstyled">
          <li>Timely Delivery of enterprise-grade deliverable <i class="fas fa-chevron-right text_sitec"></i></li>
          <li>Cost Effective pricing and flexible engagement models <i class="fas fa-chevron-right text_sitec"></i></li>
          <li>Ability to align with the client’s preferred service Delivery model <i class="fas fa-chevron-right text_sitec"></i></li>
          <li>Deep industry experience & vision to build digital transformation <i class="fas fa-chevron-right text_sitec"></i></li>
        </ul>
        <div class="text-left"><a href="javascript:void(0);" class="a_outlinebtn">Discuss Project Requirement <i class="fas fa-arrow-right bg_sitec"></i></a></div>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-12 align-self-center"> <%= image_tag("service_appimg.png", alt: "") %> </div>
    </div>
  </div>
</section>
<section id="lokking_frsec" class="lokking_frsec2">
  <div class="lokking_frsec_inner bg_rgbsitec">
    <div class="element_img hang"><%= image_tag("element_5.png", alt: "") %></div>
    <div class="container">
      <h3>Looking For Best Quality<br>
        Services Provider</h3>
      <div class="text-center"> <a href="contact.html" class="btn text_sitec">CONTACT US</a> </div>
    </div>
  </div>
</section>
<script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        // console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();
  // document.getElementById('moar').onclick = function() {
  //   var section = document.createElement('section');
  //   section.className = 'section--purple wow fadeInDown';
  //   this.parentNode.insertBefore(section, this);
  // };
</script>